<style>
  .main-container {
    border: 1px solid #d3d3d3;
    padding: 20px;
    border-radius: 10px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .input-box {
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .input-id {
    width: 50%;
  }

  .remove-button {
    text-align: right;
  }
</style>

<div class="container main-container">
  <div class="row">
    <div class="col-9">

      <h4>System Prompt</h4>
      <textarea [(ngModel)]="prompt.systemPrompt" class="form-control" rows="2"></textarea>

      <h4>User Prompt</h4>
      <textarea [(ngModel)]="prompt.userPrompt" (ngModelChange)="analyzePrompt($event)" class="form-control"
                rows="10"></textarea>

      <h4>Prompt Inputs</h4>

      <div *ngFor="let input of prompt.userPromptInputs; index as i">
        <div class="input-box">
          <div class="row">
            <div class="col-6 form-group input-id">
              <input [(ngModel)]="input.id" placeholder="Input ID" class="form-control">
            </div>
            <div class="col-6 form-group remove-button">
              <button class="btn btn-primary" (click)="removeInput(i)">Remove</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-group">
              <textarea [(ngModel)]="input.text" placeholder="Input Text" class="form-control" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary mt-3" (click)="addInput()">Add Input</button>
    </div>

    <div class="col-3">
      <h4>Parameters</h4>

      <div class="form-group">
        <label for="model">Model</label>
        <select [(ngModel)]="config.model" id="model" class="form-control">
          <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
          <option value="gpt-4">gpt-4</option>
        </select>
      </div>

      <div class="form-group">
        <label for="temperature">Temperature</label>
        <input [(ngModel)]="config.temperature" id="temperature" class="form-control">
      </div>
      <button class="btn btn-primary mt-3" (click)="callAPI()">Send</button>
    </div>
  </div>
  <br/>

  <h4>Responses</h4>
  <div *ngFor="let response of responses">
    <div class="row">
      <div class="col-8">
        <textarea [value]="response" class="form-control" [rows]="numberOfLines(response)" readonly></textarea>
      </div>
      <div class="col-4">
        <textarea [value]="response" class="form-control" [rows]="numberOfLines(response)" readonly></textarea>
      </div>
    </div>
    <br>
  </div>

</div>
